[flake8]

builtins = _

# Print the total number of errors:
count = true

# Don't even try to analyze these:
extend-exclude =
  # vendored files
  compat
  # project env vars
  .env,
  # GitHub configs
  .github,
  .mypy_cache
  # Cache files of pytest
  .pytest_cache,
  tests/output/
  .tox
  # Occasional virtualenv dirs
  .venv
  venv
  # VS Code
  .vscode,

# IMPORTANT: avoid using ignore option, always use extend-ignore instead
# Completely and unconditionally ignore the following errors:
extend-ignore =
  # E123, E125 skipped as they are invalid PEP-8.
  E123,
  E125,
  # annoy black by allowing white space before : https://github.com/psf/black/issues/315
  E203,
  # ansible requires import after doc strings
  E402,
  # given the ansible_collections this is nearly impossible
  E501,
  W503,

# Accessibility/large fonts and PEP8 unfriendly:
max-line-length = 100

# Count the number of occurrences of each error/warning code and print a report:
statistics = true
