---
ci:
  skip:
    # pre-commit.ci has trouble with this one
    - update-docs
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [-l, "79"]
        additional_dependencies: ["click<8.1"]
  - repo: https://github.com/ansible-network/collection_prep
    rev: 0.9.6
    hooks:
      - id: update-docs
