ansible-pylibssh >= 0.2.0
genie ; python_version >= '3.6' and python_version < '3.9'
jxmlease
ncclient
netaddr
ntc_templates
paramiko
pyats ; python_version >= '3.6' and python_version < '3.9'
selectors2 ; python_version == '3.5'
textfsm
xmltodict
