black==19.3b0 ; python_version > '3.5'
coverage==4.5.4
flake8
mock ; python_version < '3.5'
pytest-xdist
yamllint

# The follow are 3rd party libs for cli_parse
ntc_templates
pyats ; python_version >= '3.6' and python_version < '3.9'
genie ; python_version >= '3.6' and python_version < '3.9'
textfsm
ttp
xmltodict
